@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

* {
    margin: 0px;
    padding: 0px;
}
header {
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 28%);
}

header h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 27%);
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%);
    padding-left: 10px;
    margin: auto;
    padding-bottom: 60px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%);
}

nav {
    background-color: #063d1e;
    padding-left: 10px;
    padding-bottom: 10px;
    
}

nav a { 
    font-family: Arial, Helvetica, sans-serif;
    color: #83e1ad;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav a:hover {
    background-color: #82D9A0;
    color: #063d1e;
    text-decoration: none;
}

body {
    background-color: #ebe5c5;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #0000006b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article h1 {
    color: #063d1e;
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.8em;
}

article p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

article h2 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #063d1ecb;
    background-image: linear-gradient(to right, #82D9A0, white);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
}

picture > img {
    width: 100%;
}

.imgpeq {
    max-width: 350px;
    margin: auto;
}

.video {
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

strong {
    color: rgba(9, 78, 39, 0.824);
    font-weight: bold;
}

main a {
    background-color: #82D9A0;
    color: #063d1e;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover {
    background-color: #82D9A0;
    color: #063d1eb1;
    text-decoration: underline;
}

aside {
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 28%);
}

aside h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #105f33;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

main ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
footer {
    background-color: #063d1e;
}

footer  p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #82D9A0;
}